header {
    background: #013369;
    color: white;
    padding: 10px 20px;
    text-align: center; /* Centre le contenu */
}

.logo-title {
    display: flex;
    flex-direction: column; /* Met logo puis titre en colonne */
    align-items: center;
}

.logo {
    height: 30px; /* Plus petit que le texte */
    margin-bottom: 5px; /* Petit espace entre logo et titre */
}

h1 {
    margin: 0;
    font-size: 28px; /* Plus grand que le logo */
}
